*{
    padding: 0;
    margin: 0;
    
}

#banner{
 text-align: center;
color: #ffff;
font-size: 34px;
background-color: #141414;
background-image: url(../Imagens/1-banner-v7.jpg);
padding: 100px;
background-repeat: no-repeat;
background-position: center;
}
#banner span{
    color: #efd71e;
}
#banner h2{
    font-weight: 600;
}
#banner span{
    font-weight: 600;
}
.card-body{
    background-color: #171925 ;
    
}
.card-body h5{
    color: #ffff;
    font-weight: 600;
    
}


.container-fluid{
    background-color: #141414;
    padding: 0%;
    color: #ffff;
    
    
}
.container-fluid span{
    color: #ffff;

}
.container-fluid strong{
    color: #efd71e;
    font-size: 20px;
}
.container-fluid h3{
    margin-bottom: 0;
}
#cliqueAqui{
    
}
#cliqueAqui span{
border-left:5px solid #efd71e ;
padding-left: 10px;
margin-left: 30vw;
font-size: 20px;
}
.img-fluid{
    width: 65px;
    margin-bottom: 3vh;
    margin-top: 5vh;
    margin-left: 30vw;
}
footer{
    background-color: #171925;
    height: 7vh;
    color: #ffff;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

#cards{
    margin-left: 30vw;
}
.container-fluid h3{
display: contents;
}
.bg{
    background-image: linear-gradient(148deg,#48BDCE 62%,#1876CE 100%);
    float: right;
}
#capa{
    width: 240px;
}
.row{
    padding: 12px;
    
}
#cardDireita{
    margin-left: 20px;
}

.list-group-item img{
    width: 40px;
    
}
.list-group{
    width: 80px;
    box-shadow: 0 0 22px -6px #1f76ca;
    position: fixed;
    right: 10px;
}
#itensbarra{
    background-color: #2a2a2a;
    border-width: 0;
}

